.our-employe{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 3rem 0 1rem 2rem;
}
.cart-details{
  position: sticky;
  top: 0;
}
.title-section h1{
  border-bottom: 5px solid rgb(233, 99, 21);
  border-radius: 20px;
  display:inline-block;
}


@media screen and (max-width: 600px) {
  .our-employe{
    grid-template-columns: repeat(1, 1fr);
  }
  .employe-info{
    margin: auto;
  }
}