.our-employe{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 3rem 0 1rem 2rem;
}
/* .cart-details{
  position: sticky;
  top: 0;
} */
.title-section h1{
  border-bottom: 5px solid rgb(233, 99, 21);
  border-radius: 20px;
  display:inline-block;
}

.cart-bg{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}




@media screen and (max-width: 600px) {
  .our-employe{
    grid-template-columns: repeat(1, 1fr);
  }
  .employe-info{
    margin: auto;
  }
}


@media screen and (max-width: 350px) {
  .title-section h1{
    border-bottom: 3px solid rgb(233, 99, 21);
    border-radius: 20px;
    font-size: 20px;
    display:inline-block;
  }
  .title-section h3{
    font-size: 18px;
  }
}