.employe-info{
  width: 300px;
  height: 430px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1rem;
  border-radius: 1rem;
}
.employe-info img{
  width: 260px;
  height: 260px;
  border-radius: 50%;
  padding: 10px;
}
.btn-style{
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 10px 0;
}

@media screen and (max-width: 600px) {
  .employe-info img{
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .employe-info{
    width: 100%;
  }
}