nav{
  height: 80px;
  padding: 0 100px;
  background-color: #8b70d4;
}

.nav-menu a{
  font-size: 1.2rem;
  padding: 0 1rem;
}






@media screen and (max-width: 600px) {
  nav{
    flex-direction: column;
    padding: 0;
  }
  .nav-menu a{
    font-size: 14px;
    padding: 0 5px;
  }
}